In [3]:
import pandas as pd
import numpy as np
import os
import random
import matplotlib.pyplot as plt
import pickle
import time

In [4]:
from faker import Faker
fake = Faker()

Synthetic Data Generation

In [17]:
def faker_timeseries_rows(num=1, seed=None):
    """
    """
    fake.seed_instance(seed)

    time_gen = fake.time_series(start_date=f"-{num}d", end_date="now", precision=3600)

    output = [
        {
            
            "name": fake.last_name(),
            "email": fake.free_email(),
            "country": fake.country(),
            "Entry_Date": fake.date_between(start_date= "-19y" , end_date="now"),
             delta = datetime.timedelta(days=365*randint(18,40))
             bd = Entry_Date -delta
             "Birth_Date": bd,   
    
        }
        for x in range(num)
    ]
    return output

SyntaxError: invalid syntax (<ipython-input-17-4aa4e050e7fc>, line 15)

In [19]:
   def birth_and_start_date():
            sd = fake.date_between(start_date="-20y", end_date="now")
            delta = datetime.timedelta(days=365*randint(18,40))
            bd = sd-delta

       return {'birth_date':bd, 'start_date': sd}

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [15]:
df = pd.DataFrame(faker_timeseries_rows(10, seed=0))
df.head(15)

,Birth_Date,name,email,country,Entry_Date
0,2014-10-24,Chang,gwilliams@yahoo.com,Iraq,2013-01-09
1,2017-12-02,Howard,williamcampbell@gmail.com,Nicaragua,2011-03-25
2,2019-10-29,Mcgrath,kyleblair@hotmail.com,Greenland,2018-10-08
3,2020-10-02,Garcia,ostewart@gmail.com,Mexico,2018-12-08
4,2016-10-07,Grimes,bryan80@gmail.com,Saint Helena,2016-04-10
5,2001-09-29,Salazar,john51@gmail.com,United States Virgin Islands,2010-04-01
6,2009-10-28,Pratt,lindawest@gmail.com,Ghana,2019-12-27
7,2018-05-09,Rodriguez,jasmine85@hotmail.com,Costa Rica,2021-04-28
8,2021-09-12,Roberts,carlsonpaul@hotmail.com,Dominican Republic,2012-08-01
9,2007-12-18,Lopez,antoniozavala@yahoo.com,Lebanon,2005-01-20

CATEGORICAL DATA

In [11]:
def faker_categorical(num=1, seed=None):
    """
    """
    np.random.seed(seed)
    fake.seed_instance(seed)

    output = [
        {
            "name": fake.last_name(),
            "email": fake.free_email(),
            "country": np.random.choice(["India", "Canada", "Pakistan"]),
            "gender": np.random.choice(["M", "F", "Not Specified"], p=[0.3, 0.6, 0.1]),
        }
        for x in range(num)
    ]
    return output

In [12]:
df = pd.DataFrame(faker_categorical(num=100, seed=0))
df.head(5)

       name                    email   country gender
0   Richard      gwilliams@yahoo.com     India      F
1  Sullivan        tammy59@gmail.com     India      F
2    Wagner       donald19@yahoo.com    Canada      F
3    Archer    kyleblair@hotmail.com  Pakistan      F
4    Rivera  gomezleslie@hotmail.com  Pakistan      M

In [ ]:
df.to_csv("data/fake_data.csv")